<%= content_for :title do %>
  food and drink
<% end %>

<%= content_for :title_message do %>
  What would you like to have?
<% end %>

<%= content_for :body do %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="food-type">
          <h5 class="text-uppercase">drinks</h5>
        </div>
      </div>
    </div>

    <div class="food-section">
      <div class="row">
        <div class="col-7"> Coca-Cola</div>
        <div class="col-3"> £0.90</div>
        <div class="col-2"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="food-section">
      <div class="row">
        <div class="col-7"> Diet Coca-Cola</div>
        <div class="col-3"> £0.90</div>
        <div class="col-2"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="food-section">
      <div class="row">
        <div class="col-7">
          Salted Caramel Mocha
        </div>
        <div class="col-3"> £0.90</div>
        <div class="col-2"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="food-section">
      <div class="row">
        <div class="col-7"> Pumpkin Spice Latte</div>
        <div class="col-3"> £0.90</div>
        <div class="col-2"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="food-section">
      <div class="row">
        <div class="col-7"> Bottled Water</div>
        <div class="col-3"> £0.90</div>
        <div class="col-2"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="food-section">
      <div class="row">
        <div class="col-7"> Coca-Cola</div>
        <div class="col-3"> £0.90</div>
        <div class="col-2"><span class="fa fa-plus" aria-hidden="true"></span>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <div class="food-type">
          <h5 class="text-uppercase">food</h5>
        </div>
      </div>
    </div>

    <div class="food-section">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-7 food-name">
              Bacon, Gouda & Egg Breakfast Sandwich
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col price">
                  £9.50
                </div>
                <div class="col add-icon">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col food-description">
              Chicken tikka, lamb tikka, sheekh kebab & tandoori chicken
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="food-section">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-7 food-name">
              Chicken Sausage & Bacon Biscuit
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col price">
                  £9.50
                </div>
                <div class="col add-icon">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col food-description">
              Chicken tikka, lamb tikka, sheekh kebab & tandoori chicken
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="food-section">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-7 food-name">
              Carved Ham & Swiss Breakfast Sandwich
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col price">
                  £9.50
                </div>
                <div class="col add-icon">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col food-description">
              Chicken tikka, lamb tikka, sheekh kebab & tandoori chicken
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="food-section">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-7 food-name">
              Double-Smoked Bacon, Cheddar & Egg Sandwich
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col price">
                  £9.50
                </div>
                <div class="col add-icon">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col food-description">
              Chicken tikka, lamb tikka, sheekh kebab & tandoori chicken
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="food-section">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-7 food-name">
              Carved Ham & Swiss Breakfast Sandwich
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col price">
                  £9.50
                </div>
                <div class="col add-icon">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col food-description">
              Chicken tikka, lamb tikka, sheekh kebab & tandoori chicken
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="food-section">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-7 food-name">
              Bacon, Gouda & Egg Breakfast Sandwich
            </div>
            <div class="col-5">
              <div class="row">
                <div class="col price">
                  £9.50
                </div>
                <div class="col add-icon">
                  <span class="fa fa-plus" aria-hidden="true"></span>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col food-description">
              Chicken tikka, lamb tikka, sheekh kebab & tandoori chicken
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>
